# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\EDUCATIONAL\javaFx learning\Simple Calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
